<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Try it out!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Tyler the Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nicepage_new.css') }}" media="screen">
<link rel="stylesheet" href="{{ url_for('static', filename='Tyler-the-Creator.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='jquery-1.9.1.min.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='nicepage_new.js') }}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "WebSite513335",
		"logo": "images/gc5d68f0b2b9c92be76381d23cac02315b8d9069cbae96d375c27dced61f0e586200dccfd45342ad5bd8dd874eb2ed76f32e0a0ab1a624a42ed064d9bbde36a8a_1280.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Tyler the Creator">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body"><header class="u-clearfix u-header u-sticky u-white u-header" id="sec-a230"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="1035">
          <img src="images/gc5d68f0b2b9c92be76381d23cac02315b8d9069cbae96d375c27dced61f0e586200dccfd45342ad5bd8dd874eb2ed76f32e0a0ab1a624a42ed064d9bbde36a8a_1280.png" class="u-logo-image u-logo-image-1" data-image-width="64">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-1fe0" data-page-id="513338" style="padding: 10px 20px;">Overview</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-2750" data-page-id="513338" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-0a7f" data-page-id="513338" style="padding: 10px 20px;">Tools</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-896a" data-page-id="513338" style="padding: 10px 20px;">Try it out!</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="{{ url_for('Tupac_function') }}">Tupac</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="{{ url_for('Eminem_function') }}">Eminem</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white" href="{{ url_for('TTC_function') }}">Tyler the Creator</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-white">Eminem Voice</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-aee3" data-page-id="513338" style="padding: 10px 20px;">The Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-b678" data-page-id="513338" style="padding: 10px 20px;">AI Camp</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/Overview.html#sec-829d" data-page-id="513338" style="padding: 10px 20px;">Hear Eminem!</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-1fe0" data-page-id="513338" style="padding: 10px 20px;">Overview</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-2750" data-page-id="513338" style="padding: 10px 20px;">About</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-0a7f" data-page-id="513338" style="padding: 10px 20px;">Tools</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-896a" data-page-id="513338" style="padding: 10px 20px;">Try it out!</a><div class="u-nav-popup"><ul class="u-h-spacing-20 u-nav u-unstyled u-v-spacing-10 u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('Tupac_function') }}">Tupac</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('Eminem_function') }}">Eminem</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('TTC_function') }}">Tyler the Creator</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Eminem Voice</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-aee3" data-page-id="513338" style="padding: 10px 20px;">The Team</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-b678" data-page-id="513338" style="padding: 10px 20px;">AI Camp</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Overview.html#sec-829d" data-page-id="513338" style="padding: 10px 20px;">Hear Eminem!</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-4948">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Try it out!</h2>
        <p class="u-text u-text-default u-text-2">Generate lyrics based on Tyler the Creator's songs!</p>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-9315"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1" spellcheck="false">AI Rap Generator&nbsp;<br>
          <a href="{{ url_for('home') }}" data-page-id="513338" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Overview</a>&nbsp; &nbsp;&nbsp;<a href="{{ url_for('TTC_function') }}" data-page-id="513336" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">About</a>&nbsp; &nbsp;&nbsp;<a href="513337" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-3">Tools</a>&nbsp; &nbsp;&nbsp;<a href="/Project.html" data-page-id="513341" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-4">Our Project</a>&nbsp; &nbsp; <a href="{{ url_for('Eminem_function') }}" data-page-id="513398" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-5">Meet The Creators</a>
        </p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>
  </body>
</html>